table {
  border: 2px solid black;
}

th,
td {
  border: 1px solid black;
}

tr {
  text-align: center;
}

.newRecord {
  display: flex;
  max-width: 200px;
  padding: 5px;
  flex-direction: column;
  text-align: center;
}

.newRecord > button {
  margin-top: 10px;
}
